body {
	width: 320px;
}
#account-form div {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#action {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
